<p id="notice"><%= notice %></p>

<h1>Planshets</h1>

<table>
  <thead>
    <tr>
      <th>Gadget</th>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planshets.each do |planshet| %>
      <tr>
        <td><%= planshet.gadget_id %></td>
        <td><%= planshet.model %></td>
        <td><%= link_to 'Show', planshet %></td>
        <td><%= link_to 'Edit', edit_planshet_path(planshet) %></td>
        <td><%= link_to 'Destroy', planshet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planshet', new_planshet_path %>
