<p id="notice"><%= notice %></p>

<p>
  <strong>Gadget:</strong>
  <%= @planshet.gadget_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @planshet.model %>
</p>

<%= link_to 'Edit', edit_planshet_path(@planshet) %> |
<%= link_to 'Back', planshets_path %>
